<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/styles.css" rel="stylesheet">
        <link href="css/normalize.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css ">
        <title>CAMPING STORE </title>
    </head>

<body>

    <header>
        <img src="img/logo prueba.png" alt="">
        <div>
            <i class="fas fa-bars"></i>
        </div>
        <nav>
            <ul>
                <li><a href="#">Indumentaria</a></li>
                <li><a href="#">Tekking</a></li>
                <li><a href="#">Camping</a></li>
                <li><a href="#">Pesca</a></li>
                <li><a href="#">Ofertas</a></li>
            </ul>
        </nav>
    </header>
    
    <main></main>

    <footer></footer>

</body>