<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/styles.css" rel="stylesheet">
        <link href="css/normalize.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css ">
        <title>Camping Store | Login</title>
    </head>


<body>

    <header>
        <div class="aviso-banner">
            <p> Avisos temporales: envíos gratis- cuotas sin interés! </p>
        </div>
        <div class="top-bar">

            <div class="logo">
                <img src="img/logo-desktop.png" alt="" class="desktop">
                <img src="img/logo-mobile.png" class="mobile">
            </div>

            <form class="searcher" action="search" method="get">
                <input class="search-bar" type="text" placeholder="Qué andas buscando?">
                <div class="lupa">
                    <button class="lupa button-search-bar" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>

            <div class="shopping-cart">
                <i class="fas fa-shopping-cart"></i>
            </div>

            <div class="menu-bar">
                <i class="fas fa-bars"></i>
            </div>
            
            <nav class="category-bar">
                <div class="">
                    <ul>
                        <li><a href="#">Indumentaria</a></li>
                        <li><a href="#">Trekking</a></li>
                        <li><a href="#">Camping</a></li>
                        <li><a href="#">Pesca</a></li>
                        <li><a href="#">Ofertas</a></li>
                    </ul>
                </div>
                
            </nav>


        </div>

        </div>

    </header>
    
    <main>
        <div class="form-login">
            <div class="input-group">
                <span><i class="fas fa-at"></i></span>
                <input class="form-input" type="email" placeholder="Email">
            </div>
           
        
            <div class="input-group">
                <span><i class="fas fa-lock"></i></span>
                <input  class="form-input" type="password" placeholder="Contraseña">
            </div>

            <div>
                <button class="form-submit-button" onclick="location.href= '/'" type="button">
                    Iniciar Sesión
                </button>
            </div>
        </div>
    </main>

    <footer>
        <section>
            <div class="nosotros">
                <p>¿Quiénes somos?</p>
                <nav>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Envíos y cambios</a></li>
                        <li><a href="#">Servicio al cliente</a></li>
                        <li><a href="#">Términos y condiciones</a></li>
                    </ul>
                </nav>
            </div>
        </section>

        <section>
            <div class="redes">
                <p>Seguinos en:</p>
                <div class="iconos-redes">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
        </section>

        <section>
            <div class="contacto">
                <p>Contacto</p>
                <div class="whatsapp"><i class="fab fa-whatsapp"></i> 011-1500000000</div>
                <div class="email"><i class="far fa-envelope"></i> ecommerce@gmail.com</div>
            </div>
        </section>
    </footer>


</body>