<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/styles.css" rel="stylesheet">
        <link href="css/normalize.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css ">
        <title>CAMPING STORE / DETALLE DE PRODUCTO</title>
    </head>


<body>

    <header>
        <div class="aviso-banner">
            <p> Avisos temporales: envíos gratis- cuotas sin interés! </p>
        </div>
        <div class="top-bar">

            <div class="logo">
                <img src="img/logo-desktop.png" alt="" class="desktop">
                <img src="img/logo-mobile.png" class="mobile">
            </div>

            <form class="searcher" action="search" method="get">
                <input class="search-bar" type="text" placeholder="Qué andas buscando?">
                <div class="lupa">
                    <button class="lupa button-search-bar" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>

            <div class="shopping-cart">
                <i class="fas fa-shopping-cart"></i>
            </div>

            <div class="menu-bar">
                <i class="fas fa-bars"></i>
            </div>
            
            <nav class="category-bar">
                <div class="">
                    <ul>
                        <li><a href="#">Indumentaria</a></li>
                        <li><a href="#">Trekking</a></li>
                        <li><a href="#">Camping</a></li>
                        <li><a href="#">Pesca</a></li>
                        <li><a href="#">Ofertas</a></li>
                    </ul>
                </div>
                
            </nav>


        </div>

        </div>
    </header>
    
    <main class="pageProdDetail">
        <div class="productPresentation">
            <div class="imgProduct">
                <img src="img/Carpas para Camping.jpg" alt="CarpaParaCamping">
            </div>
            <div class="prodSpecification">
                <div class="prodNPD">
                    <h2 class="prodNPD">NORTHFACE 4567 ULTRALIGHT TENT</h2>
                    <h3 class="prodPrice">Precio: $43.990</h3> <h3 class="prodDiscount">Descuento: 30%</h3>
                </div>
                <div class="buyElection">
                    <div class="prodSCQ">
                        <nav class="prodSize">
                            <div class="controldelformulario">
                                <label>Talle</label>
                                <select name="Size" id=""class="controlSelect">
                                    <option value="Big">Grande</option>
                                    <option value="Medium">Mediano</option>
                                    <option value="Small">Pequeño</option>
                                </select>
                            </div>
                        </nav>
                        <nav class="prodColor">
                            <div class="controldelformulario">
                                <label>Color</label>
                                <select name="Color" id=""class="controlSelect">
                                    <option value="yellow">Amarillo</option>
                                    <option value="orange">Naranja</option>
                                    <option value="green">Verde</option>
                                    <option value="lightblue">Celeste</option>
                                </select>
                            </div>
                        </nav>
                        <nav class="prodQuantity">
                            <div class="controldelformulario">
                                <label>Cantidad</label>
                                <select name="prodQuantity" id=""class="controlSelect">
                                    <option value="1">1 Carpa</option>
                                    <option value="2">2 Carpas</option>
                                    <option value="3">3 Carpas</option>
                                    <option value="4">4 Carpas</option>
                                    <option value="5">5 Carpas</option>
                                    <option value="6">6 Carpas</option>
                                </select>
                            </div>
                        </nav>
                    </div>
                    <div class="buyButton">
                        <button class="buyButton">COMPRAR</button>
                    </div>    
                </div>
            </div>
        </div>
        <div class="prodDescription">
            <h3 class="prodNPD">Descripcion del Producto</h3>
            <p class="textProdDetail">Large Throw Tent Outdoor 3-4Persons Automatic Speed Open Throwing Pop Up</p>
            <p class="textProdDetail">The NORTHFACE lanza una carpa que resiste vientos de hasta 100km/h</p>
            <p class="textProdDetail">La Tienda tiene un escpacio para cuatro personas y se puede estar parado en su interior. Es liviana y facil de transportar</p>
        </div>
    </main>

    <footer>
        <section>
            <div class= "nosotros">
                <p>¿Quiénes somos?</p>
                <nav>
                    <ul>
                        <li><a href= "#">About us</a></li>
                        <li><a href= "#">Envíos y cambios</a></li>
                        <li><a href= "#">Servicio al cliente</a></li>
                        <li><a href= "#">Términos y condiciones</a></li>
                    </ul>
                </nav>
            </div>
        </section>

        <section>
            <div class= "redes">
                <p>Seguinos en:</p>
                <div class="iconos-redes">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
        </section>

        <section>
            <div class= "contacto">
                <p>Contacto</p>
                <div class="whatsapp"><i class="fab fa-whatsapp"></i> 011-1500000000</div>
                <div class="email"><i class="far fa-envelope"></i> ecommerce@gmail.com</div>
            </div>               
        </section>
    
    </footer>


</body>