<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/styles.css" rel="stylesheet">
        <link href="css/normalize.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css ">
        <title>CAMPING STORE / CARRITO DE COMPRAS</title>
    </head>

    <!-- INICIO HEADER ACTUALIZAR!!!!!!!!!!!!!!!!!!!!!!!!!!-->

    <header>
        <div class="top-bar">
            <div class="aviso-banner">
                <p> Avisos temporales: envíos gratis- cuotas sin interés! </p>
            </div>
            <div class="logo">
                <img src="img/logo-desktop.png" alt="" class="desktop">
                <img src="img/logo-mobile.png" class="mobile">
            </div>

            <div class="menu-bar">
                <i class="fas fa-bars"></i>
            </div>

            <div class= "shopping-cart">
                <i class="fas fa-shopping-cart"></i>
            </div>
            
            <div class="category-bar">
                <nav>
                    <ul>
                        <li><a href="#">Indumentaria</a></li>
                        <li><a href="#">Tekking</a></li>
                        <li><a href="#">Camping</a></li>
                        <li><a href="#">Pesca</a></li>
                        <li><a href="#">Ofertas</a></li>
                    </ul>
                </nav>
            </div>
            
        </div>
        <form action=""></form>
    </header>

<!-- FIN HEADER ACTUALIZAR!!!!!!!!!!!!!!!!!!!!!!!!!!-->


    <main>
            <H2>CARRITO DE COMPRAS</H2> <!--ENCABEZADO-->
        
        <section> <!-- SECCION CON LOS DETALLES DE LOS ARTICULOS COMPRADOS-->
                        
            <article>  <!--DETALLE DE COMPRA--> 
                <div class="cartProduct"> <!-- CONTIENE IMAGEN, NOMBRE DE PRODUCTO Y DESCRIPCION-->
                    <div> <!--IMAGEN-->
                    <img class="imgProd" src="./img/patagonia_down_sweater_boys_imagen1.jpg"> 
                    </div>

                    <div> <!--NOMBRE DEL PRODUCTO-->
                        <div class="producto"> 
                            <span>PATAGONIA DOWN SWEATER BOYS</span>
                        </div>    

                        <div class="descripcion"> <!--DESCRIPCION DEL PRODUCTO-->
                            <span>El Down Sweater para niños es abrigado, comprimible y se amolda fácilmente para brindar mayor calidez en climas fríos. Protegido con plumón 100% rastreable de 600-fill-power.</span>
                        </div>
                    </div>    

                </div>
                
                    <div class="detalleCompra"> <!--DETALLE DE LA COMPRA DEL PRODUCTO (CANTIDAD, PRECIO, TOTAL)-->
                        <div> <!--CANTIDAD-->
                            <H6 class="nombreEtiqueta">CANT</H6> 
                            <span>
                                <select name="cantidad" class="cantidad">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </span>
                        </div>

                        <div> <!-- PRECIO -->
                            <H6 class="nombreEtiqueta">PRECIO</H6>
                            <span>$ 9.999,99</span>
                        </div>
                        
                        <div> <!--TOTAL-->
                            <H6 class="nombreEtiqueta">TOTAL</H6>
                            <span>$ 9.999,99</span>
                        </div>

                        <div class="icono" > <!--ELIMINAR-->
                            <H6 class="nombreEtiqueta">ELIMINAR</H6>
                            <i class="far fa-trash-alt"></i>
                        </div>
                        
                    </div>    

            </article>


            <!-- OTRO ARTICULO DE EJEMPLO, MISMA PROGRAMACION-->

            <article>  <!--DETALLE DE COMPRA--> 
                <div class="cartProduct"> <!-- CONTIENE IMAGEN, NOMBRE DE PRODUCTO Y DESCRIPCION-->
                    <div> <!--IMAGEN-->
                    <img class="imgProd" src="./img/carpa 1.jpg"> 
                    </div>

                    <div> <!--NOMBRE DEL PRODUCTO-->
                        <div class="producto"> 
                            <span>ALTUS VINSON CARPA</span>
                        </div>    

                        <div class="descripcion"> <!--DESCRIPCION DEL PRODUCTO-->
                            <span>Altus Vinson Carpa para alta montaña Altus 2 personas - 4 estaciones/ Expedición.</span>
                        </div>
                    </div>    

                </div>
                
                    <div class="detalleCompra"> <!--DETALLE DE LA COMPRA DEL PRODUCTO (CANTIDAD, PRECIO, TOTAL)-->
                        <div> <!--CANTIDAD-->
                            <H6 class="nombreEtiqueta">CANT</H6> 
                            <span>
                                <select name="cantidad" class="cantidad">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </span>
                        </div>

                        <div> <!-- PRECIO -->
                            <H6 class="nombreEtiqueta">PRECIO</H6>
                            <span>$ 39.999,99</span>
                        </div>
                        
                        <div> <!--TOTAL-->
                            <H6 class="nombreEtiqueta">TOTAL</H6>
                            <span>$ 39.999,99</span>
                        </div>
                        
                        <div class="icono" > <!--ELIMINAR-->
                                <H6 class="nombreEtiqueta">ELIMINAR</H6>
                                <i class="far fa-trash-alt"></i>
                        </div>
                        
                        
                    </div>    

            </article>

        </section>     


        <section class="datosEntrega">  <!-- SECCION DE DATOS DE ENTREGA-->    

            
                          
                <H3 class="etiquetaSecciones">ENTREGA</H3>
                <div class="textoEntrega">Selecciona tu opción de retiro o entrega tu producto: </div>
                 
                
                <form action="/" method="GET" class= formularioEntrega>
                    <div class="contenedorFormEntrega">
                        <input class="botonFormularioEntrega" type="radio" name="metodo-entrega" value="envio">
                        <label for="envio">ENVIO</label>
                        <input class="botonFormularioEntrega" type="radio" name="metodo-entrega" value="sucursal">
                        <label for="sucursal">SUCURSAL </label>
                    </div>

                    
                </form>
 
            
                <form action="/" method="GET" class= "formularioEntregaDetalle">

                    <div class="contenedor-opciones">
                        <div class="opcion-entrega">
                            <p>Ingresa tu código postal:</p>
                            <input type="text" name="CP" class="seleccionado">
                            <span class= "errorValidacion">Debe ingresar un valor</span>
                        </div>

                        <div class="opcion-entrega">
                            <p>Selecciona la sucursal donde retirarás tu compra:</p>
                            <select class="seleccionado" name="sucursal">
                                <option value="Caballito">Caballito</option>
                                <option value="Palermo">Palermo</option>
                            </select>
                        </div>
                    
                        <div>
                            <button type="submit" class="boton">CALCULAR</button>
                        </div> 
                        
                    </div>
  
                    



                </form>

        </section>

        <section> <!-- SECCION DE RESUMEN DE LA COMPRA-->    
            
            <H3 class="etiquetaSecciones">RESUMEN DE COMPRA</H3>
           

                    <article class= "resumen-Compra">

                    <div  class="etiquetaResumenItem"> <!--SUBTOTAL-->
                        <span>SUBTOTAL:</span>
                        <span>$ 9.999,99</span>
                    </div>

                    <div  class="etiquetaResumenItem"> <!-- COSTO DE ENTREGA -->
                        <span>COSTO DE ENVIO</span>
                        <span>$ 0,00</span>
                    </div>

                    <div  class="etiquetaResumenTotal"> <!--TOTAL -->
                        <span>TOTAL</span>
                        <span>$ 49.999,98</span>
                    </div>
            
                   
        

                <form action="/" method="GET" class= "formulariofinalizacionCompra">

                    <div class="contenedor-final">
                                          
                        <div>
                            <button type="submit" class="boton">FINALIZAR COMPRA</button>
                        </div> 

                        <div>
                            <button type="submit" class="boton">ELEGIR MAS PRODUCTOS</button>
                        </div> 
                        
                    </div>   
                
                </form>

            </article> 


            </section>
          

    </main>


<!-- INICIO FOOTER ACTUALIZAR!!!!!!!!!!!!!!!!!!!!!!!!!!-->

    <footer>
        <section>
            <div class= "nosotros">
                <p>¿Quiénes somos?</p>
                <nav>
                    <ul>
                        <li><a href= "#">About us</a></li>
                        <li><a href= "#">Envíos y cambios</a></li>
                        <li><a href= "#">Servicio al cliente</a></li>
                        <li><a href= "#">Términos y condiciones</a></li>
                    </ul>
                </nav>
            </div>
        </section>

        <section>
            <div class= "redes">
                <p>Seguinos en:</p>
                <div class="iconos-redes">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
        </section>

        <section>
            <div class= "contacto">
                <p>Contacto</p>
                <div class="whatsapp"><i class="fab fa-whatsapp"></i> 011-1500000000</div>
                <div class="email"><i class="far fa-envelope"></i> ecommerce@gmail.com</div>
            </div>               
        </section>
    </footer>

<!-- FIN FOOTER ACTUALIZAR!!!!!!!!!!!!!!!!!!!!!!!!!!-->


</body>



