<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/styles.css" rel="stylesheet">
        <link href="css/normalize.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css ">
        <title>CAMPING STORE / DETALLE DE PRODUCTO</title>
    </head>


<body>

    <header>DETALLE DE PRODUCTO (ACA VA EL HEADEAR QUE PREPAREN EN EL INDEX)</header>
    
    <main class="pageProdDetail">
        <div class="productPresentation">
            <div class="imgProduct">
                <img src="img/Carpas para Camping.jpg" alt="CarpaParaCamping">
            </div>
            <div class="prodSpecification">
                <h2>NORTHFACE 4567 ULTRALIGHT TENT</h2>
                <h3>Precio</h3> <h3>Descuento</h3>
                <div class="buyElection">
                    <div class="prodSCQ">
                        <nav class="prodSize">
                            <div class="controldelformulario">
                                <label>Talle</label>
                                <select name="Size" id=""class="controlSelect">
                                    <option value="Big">Grande</option>
                                    <option value="Medium">Mediano</option>
                                    <option value="Small">Pequeño</option>
                                </select>
                            </div>
                        </nav>
                        <nav class="prodColor">
                            <div class="controldelformulario">
                                <label>Color</label>
                                <select name="Color" id=""class="controlSelect">
                                    <option value="yellow">Amarillo</option>
                                    <option value="orange">Naranja</option>
                                    <option value="green">Verde</option>
                                    <option value="lightblue">Celeste</option>
                                </select>
                            </div>
                        </nav>
                        <nav class="prodQuantity">
                            <div class="controldelformulario">
                                <label>Cantidad</label>
                                <select name="prodQuantity" id=""class="controlSelect">
                                    <option value="1">1 Carpa</option>
                                    <option value="2">2 Carpas</option>
                                    <option value="3">3 Carpas</option>
                                    <option value="4">4 Carpas</option>
                                    <option value="5">5 Carpas</option>
                                    <option value="6">6 Carpas</option>
                                </select>
                            </div>
                        </nav>
                    </div>
                    <div class="buyButton">
                        <button>COMPRAR</button>
                    </div>    
                </div>
            </div>
        </div>
        <div class="prodDescription">
            <h3>Descripcion del Producto</h3>
            <p>Large Throw Tent Outdoor 3-4Persons Automatic Speed Open Throwing Pop Up</p>
            <p>The NORTHFACE lanza una carpa que resiste vientos de hasta 100km/h</p>
            <p>La Tienda tiene un escpacio para cuatro personas y se puede estar parado en su interior. Es liviana y facil de transportar</p>
        </div>
    </main>

    <footer>

        <h1>DETALLE DE PRODUCTO (ACA VA EL FOOTER QUE PREPAREN EN EL INDEX)</h1>
    
    </footer>


</body>