
.main-register{

display:flex;
justify-content: space-between;
margin: 10px
}

.etiquetaRegister{
    text-align: center;         
}

.contRegistro{
    width: 50%;
    justify-content: center;    
}

    .register{
        margin-top: 10px;   
        padding-top: 40px;
        display:flex;
        justify-content: center;
    }

    .control-formulario-registro{
        margin: 5px 0px;
    }

            .control-registro{
                width:90%;
                background-color: white;
                margin-top: 5px;    
                border-radius: 14px;
                border: solid 1px #c7c7c7;  
                font-size: 16px;              
            }

            .div-btn-registro{
                text-align: center;
            }

    
    
            /* Boton para el calculo del costo de envío */
            .boton-formulario-registro{
                background-color: #2B3A67;   
                color: white;
                margin-top: 20px;
                }
    

.infoRegistro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border-left: solid black; 
    width: 50%;
}

 