@import url("index.css");
@import url("login.css");
@import url("product-cart.css");
@import url("product-detail.css");
@import url("styles.css");

/* Header */
header {
    background-color: #FF3E41;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

header nav ul {
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #F2F4F7;
}

header nav {
    display: none;
}

.logo .mobile {
    width: 100px;
}

.logo .desktop {
    width: 250px;
    display: none;
}

.top-bar {
    display: flex;
    flex-wrap: wrap;
}

.menu-bar {
    margin-left: 180px;
    font-size: 30px;
    margin-top: 6px;
}

.shopping-cart {
    margin-left: 10px;
    font-size: 30px;
    margin-top: 6px;
}

.category-bar {
    display: flex;
    flex-flow: column;
}

/* Main */




/* Footer */

footer{
    background-color: #202030;
    color: #D9DFE7;
    padding: 10px;    
}

footer section{
    margin-top: 10px;
    margin-bottom: 10px;    
}

footer p{
    text-align: center;
    font-size: 16px;    
}

footer section .nosotros ul li{
    font-size: 14px;
    list-style-type: none;         
}

footer section .redes .iconos-redes{
    font-size: 30px;
    display:flex;
    justify-content: space-around;
}

footer section .contacto .whatsapp,
.email{
    font-size: 14px;
    margin-left: 40px;
}



/* Version desktop */
@media screen and (min-width: 361px) {
    
    /* Header en Tablet y Desktop */
    .logo .desktop {
        display: block;
    }
    .logo .mobile {
        display: none;
    }
    header nav {
        display: block;
    }

    /* Main en Tablet y Desktop */


    /* Footer en Tablet y Desktop */

    footer{
        display: flex;
        flex-wrap: wrap;        
        justify-content: space-between;
    }
 }  

 .aviso-banner {
     font-weight: bold;
     background-color: white;
     color: black;
     width: 100%;
     text-align: center;
     margin: auto;
 }


 .productPresentation{
     display: flex;
     justify-content: space-between;
 }
 .imgProduct, .prodSpecification{
     flex-grow: 1;
 }
 .buyElection{
     display: flex;
     justify-content: space-between;
 }
 .prodSCQ{
     display: flex;
 }
