@import url("index.css");
@import url("login.css");
@import url("product-cart.css");
@import url("product-detail.css");
@import url("styles.css");


header {
    background-color: #FF3E41;
    color: white;
}

header nav ul {
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #F2F4F7;
}

nav {
    display: none;
}

.logo .mobile {
    width: 100px;
}

.logo .desktop {
    width: 250px;
    display: none;
}

.top-bar {
    display: flex;
    flex-wrap: wrap;
}

.menu-bar {
    margin-left: 180px;
    font-size: 30px;
    margin-top: 6px;
}

.shopping-cart {
    margin-left: 10px;
    font-size: 30px;
    margin-top: 6px;
}

.category-bar {
    display: flex;
    flex-flow: column;
}

/* Version desktop */
@media screen and (min-width: 361px) {
    .logo .desktop {
        display: block;
    }
    .logo .mobile {
        display: none;
    }
    nav {
        display: block;
    }
 }  

