@import url("index.css");
@import url("login.css");
@import url("product-cart.css");
@import url("product-detail.css");

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Header */
header {
    background-color: #FF3E41;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

header nav ul {
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #F2F4F7;
}

.logo {
    padding: 5px;
}


.logo .mobile {
    width: 100px;
}

.logo .desktop {
    display: none;
}

.top-bar {
    display: flex;
    padding: 3px;
    width: 100%;
    align-items: center;
}

.menu-bar {
    font-size: 20px;
    font-weight: 80;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

.shopping-cart {
    margin-left: 10px;
    font-size: 20px;
}



/* Barra de busqueda */

input {
    padding-left: 10px;
}

.search-bar {
    background-color: white;
    border-radius: 50px;
    border: none;
    max-width: 500px;
    font-size: 12px;
    display: inline-block;
    width: 80%;
}

.search-bar input {
    border: none;
}

.searcher {
    background: white;
    position: relative;
    border-radius: 5px;
    width: 50%;
}

.lupa i {
    cursor: pointer;
    color: #cac7c7fa;
}

.lupa {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    top: 0;
    right: 0;
    z-index: 2;
    width: 10%;
    padding-right: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.button-search-bar {
    padding: 4px;
    padding-top: 2px;
    border: none;
    background-color: white;
}

.test {
    position: relative;
}

.category-bar {
    display: none;
}

/* Banner */

.banner-home img {
    width: 100%;
}

/* Main */

main {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
}

main .h3-home {
    text-align: center;
    color: black;
    margin: 10px 0;
}

main section .producto-oferta {
    border: 1px solid #D9DFE7;
    margin-top: 5px;
    width: 100%;
    position: relative;
}

main section .producto-oferta img {
    width: 100%;
}

main section article .caja-productos{
    background-color: #D9DFE7;
    padding: 10px;
}

main section article i{
    display: block;
    color: red;
    font-size: 25px;
    padding: 5px;
    width: 30px;
    height: 30px;      
    position: absolute;
    left: 5px; 
    top: 5px; 
}

/* Footer */

footer {
    background-color: #202030;
    color: #D9DFE7;
    padding: 10px;
}

footer section {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer p {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

footer section nav{
    padding:5px;
}

footer section .nosotros ul {
    padding-inline-start: 0;
    text-align:center;
}

footer section .nosotros ul li {
    font-size: 12px;
    list-style-type: none;
}

footer section .nosotros ul li a {
    text-decoration: none;
    color: #D9DFE7;
}

footer section .redes .iconos-redes {
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

footer section .redes .iconos-redes i {
    padding: 5px;
}

footer section .contacto .whatsapp,
.email {
    font-size: 70%;
    padding-top: 10px;
    text-align:center;
}


/* Version Tablet */

@media screen and (min-width: 415px) {

    /* Header en Tablet */

    .logo .desktop {
        display: block;
        width: auto;
        max-height: 60px;
    }

    .logo .mobile {
        display: none;
    }

    .menu-bar {
        display: none;
    }

    .category-bar {
        display: block;
        width: 100%;
    }

    .category-bar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
    }

    .category-bar a {
        text-decoration: none;
        color: white;
        display: inline-block;
        padding: 5px 0;
        font-size: 14px;
        text-align: center;
        padding: 14px 16px;
    }

    .top-bar {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    /* Main en Tablet */

    main section{
        display:flex;         
        margin:10px;  
        flex-wrap:wrap; 
        justify-content: space-between;   
        align-items: flex-start;                     
    }
    
    main section .producto-oferta{
        max-width: 45%; 
        margin:5px;  
    }

    /* Footer en Tablet */
    
    footer {
        display: flex;
        justify-content: space-between;
    }

    footer section {
        width: 30%;
    }

    footer section .redes {
        border-left: 2px solid #D9DFE7;
        border-right: 2px solid #D9DFE7;
    }
}


/* Version desktop */
@media screen and (min-width: 769px) {

    /* Header en Desktop */
    .logo .desktop {
        display: block;
        max-width: 300px;
    }

    .logo .mobile {
        display: none;
    }

    header nav {
        display: block;
    }    

    /* Main en Desktop */
    
    main section .producto-oferta{
        max-width: 23%;
    }


    /* Footer en Desktop */

}

.aviso-banner {
    font-weight: bold;
    background-color: white;
    color: black;
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 8px;
}

/* Main de Prod Detail en Tablet Desktop */