
    <header>
        <div class="aviso-banner">
            <p> Avisos temporales: envíos gratis- cuotas sin interés! </p>
        </div>
        <div class="top-bar">

            <div class="logo">
                <a href= "/"><img src="img/logo-desktop.png" alt="" class="desktop"></a>
                <a href= "/"><img src="img/logo-mobile.png" class="mobile"></a>
            </div>

            <form class="searcher" action="search" method="get">
                <input class="search-bar" type="text" placeholder="Qué andas buscando?">
                <div class="lupa">
                    <button class="lupa button-search-bar" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>

            <div class="shopping-cart">
                <a href= "/productCart"><i class="fas fa-shopping-cart"></i></a>
            </div>

            <div class="menu-bar">
                <i class="fas fa-bars"></i>
            </div>
            
            <nav class="category-bar">
                <div class="">
                    <ul>
                        <li><a href="#">Indumentaria</a></li>
                        <li><a href="#">Trekking</a></li>
                        <li><a href="#">Camping</a></li>
                        <li><a href="#">Pesca</a></li>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="/register">Registrarse</a></li>
                        <li><a href="/login">Log In</a></li>
                    </ul>
                </div>
                
            </nav>


        </div>

        </div>

    </header>
