<!DOCTYPE html>
<html lang="en">
    
    <%- include("../partials/head")%>


<body>

    <%- include("../partials/header")%>
    
    <main>
        <form action="/users/login" method="POST">
            <div class="form-login">
                <div class="input-group">
                    <span><i class="fas fa-at"></i></span>
                    <input class="form-input" type="email" name= "email" placeholder="Email">
                </div>
            
            
                <div class="input-group">
                    <span><i class="fas fa-lock"></i></span>
                    <input  class="form-input" type="password" name= "password"  placeholder="Contraseña">
                </div>

                <div>
                   <button class="form-submit-button" type="submit">Iniciar Sesión</button>
                </div>
            </div>
        </form>
    </main>

 
    <%- include("../partials/footer")%>

</body>