<!DOCTYPE html>
<html lang="en">
    
    <%- include("../partials/head")%>


<body>

    <%- include("../partials/header")%>
    
    <main>
        <div class="form-login">
            <div class="input-group">
                <span><i class="fas fa-at"></i></span>
                <input class="form-input" type="email" placeholder="Email">
            </div>
           
        
            <div class="input-group">
                <span><i class="fas fa-lock"></i></span>
                <input  class="form-input" type="password" placeholder="Contraseña">
            </div>

            <div>
                <button class="form-submit-button" onclick="location.href= '/'" type="button">
                    Iniciar Sesión
                </button>
            </div>
        </div>
    </main>

 
    <%- include("../partials/footer")%>

</body>