<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head")%>


<body>

    <%- include("../partials/header")%>

    <main class= "main-register">
       
            <!--Contenedor de formulario y etiqueta de registro-->           
            <div class="contRegistro">
                <h3 class="etiquetaRegister">
                    REGISTRARSE
                </h3>
                    <div class="register">
                        <form action="/users/register" method="POST" class= form-registro enctype="multipart/form-data">
                                                    
                                <div class="control-formulario-registro">
                                    <label >Nombre</label>
                                    <input type="text" name="firstname" class="control-registro" >
                                </div>

                                <div class="control-formulario-registro">
                                    <label for="lastname">Apellido</label>
                                    <input type="text" name="lastname" class="control-registro" id="lastname">
                                </div>

                                <div class="control-formulario-registro">
                                    <label for="email">Direccion de Correo</label>
                                    <input type="email" name="email" class="control-registro" id="email" >
                                    <% if (locals.errors && errors.email) { %>
                                        <div class= 'text-danger'>
                                            <%= errors.email.msg %>
                                        </div>
                                    <% } %>
                                </div>
                
                    
                                <div class="control-formulario-registro">
                                    <label for="password">Contraseña:</label>
                                    <input type="password" name="password" class="control-registro" id="password">
                                </div>

                                <div class="control-formulario-registro">
                                    <label for="avatar">Foto de Perfil:</label>
                                    <input type="file" name="avatar" class="control-registro" id="avatar">
                                </div>

                                 
                                <div class="div-btn-registro">
                                <button type="submit" class="boton-formulario-registro">REGISTRARSE</button>
                            </div>
                        </form>
                    </div> 
            </div>    
            
            
                 
            <!-- Contenedor de Informacion sobre el registro-->
            <div class="infoRegistro">
                <h3 class="etiquetaRegister">
                    LOGIN
                </h3>
                <p>Registrarse en este sitio le permite acceder al estado y al historial de su pedido. Simplemente complete los campos a continuación y obtendrá una nueva cuenta configurada para usted en poco tiempo. 
                </p>
            </div>    

    </main>


    
    <%- include("../partials/footer")%>


</body>